<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.cms.mapper.InstDynamicMapper">

	<select id="selectAll" resultType="InstDynamic">
		select * from inst_dynamic order by art_id desc
	</select>

	<!-- 分页查询资讯信息 -->
	<select id="selectByPage" parameterType="com.hc.cms.vo.QueryVo" resultType="InstDynamic">
		select * from inst_dynamic limit #{page},#{rows}
	</select>
	<!-- 查询总记录 -->
	<select id="selectCount" resultType="long">
		select count(*) from inst_dynamic 
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		inst_dynamic
		where art_id = #{artId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.hc.cms.po.InstDynamic">
		<selectKey keyProperty="art_id" order="AFTER" resultType="int">
			select
			LAST_INSERT_ID()
		</selectKey>
		insert into inst_dynamic (post_time, views,
		title, content)
		values (#{post_time,jdbcType=VARCHAR}, #{views,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.hc.cms.po.InstDynamic">
		update
		inst_dynamic
		set post_time = #{postTime,jdbcType=VARCHAR},
		views =
		#{views,jdbcType=INTEGER},
		title = #{title,jdbcType=VARCHAR}
		where
		art_id = #{artId,jdbcType=INTEGER}
	</update>
</mapper>