<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hc.cms.mapper.SuccstudentMapper">
	
	<select id="selectAll" resultType="succstudent">
		select * from succstudent order by id desc
	</select>
	
	<!-- 查询总记录 -->
	<select id="selectCount" resultType="long">
		select count(*) from succstudent 
	</select>
	<!-- 分页查询学员就业信息 -->
	<select id="selectByPage" parameterType="com.hc.cms.vo.QueryVo" resultType="succstudent">
		select * from succstudent limit #{page},#{rows}
	</select>
	<!-- 批量查询学员照片 -->
	<select id="selectByArr" parameterType="Integer[]" resultType="string">
		select photos_src from succstudent where id in
		<foreach collection="array" item="id" open=" (" close=")" separator=",">
			#{id}
		</foreach>
	</select>
	
	
	<!-- 新增学员就业信息 -->
	<insert id="save" parameterType="succstudent">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select LAST_INSERT_ID()
		</selectKey>
		insert into succstudent (name,degree,enterprize,salary,career,hiredate,graduateschool,sendword,photos_src)
		 values (#{name},#{degree},#{enterprize},#{salary},#{career},#{hiredate},#{graduateschool},#{sendword},#{photos_src})
	</insert>
	<!-- 更新学员就业信息 -->
	<update id="update" parameterType="succstudent">
		update succstudent set name=#{name},degree=#{degree},enterprize=#{enterprize},salary=#{salary},
		career=#{career},hiredate=#{hiredate},graduateschool=#{graduateschool},sendword=#{sendword},photos_src=#{photos_src} where id=#{id}
	</update>
	
	<!-- 批量删除学员就业信息 -->
	<delete id="deleteByArr" parameterType="Integer[]">
		delete from succstudent where id in
		<foreach collection="array" item="id" open=" (" close=")" separator=",">
			#{id}
		</foreach>
	</delete>	
</mapper>